<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    {% block css %}{% endblock %}
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% block script %}{% endblock %}
  </body>
</html>
